<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mpinstagramfeed" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Instagram Feed</label>
            <tab>mageplaza</tab>
            <resource>Mageplaza_InstagramFeed::configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="head" translate="label" type="button" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Mageplaza\Core\Block\Adminhtml\System\Config\Head</frontend_model>
                    <comment><![CDATA[
                        <ul class="mageplaza-head">
                            <li><a href="https://docs.mageplaza.com/instagram-feed/" target="_blank">User Guide</a></li>
                            <li><a href="https://mageplaza.freshdesk.com/" target="_blank">Helpdesk</a> </li>
                            <li><a href="https://goo.gl/forms/SrTm7YUxZoCzixhH3" target="_blank">Request features</a> </li>
                            <li>Allow customers to login with <a href="https://www.mageplaza.com/magento-2-social-login-extension/?utm_source=extension&utm_medium=text&utm_campaign=facebook" target="_blank">Mageplaza Social Login</a></li>
                            <span>It is free to download and use.</span>
                        </ul>
                        ]]></comment>
                </field>
                <field id="enabled" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to enable this module</comment>
                </field>
                <field id="client_id" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                    <validate>required-entry</validate>
                    <comment><![CDATA[Create app <a href="http://instagram.com/developer/clients/manage/" target="_bank">here</a>]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="redirect_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>REDIRECT URIS</label>
                    <frontend_model>Mageplaza\InstagramFeed\Block\Adminhtml\System\Config\RedirectUrl</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="token" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <button_label>Get your access Token</button_label>
                    <button_url>adminhtml/auth/callback</button_url>
                    <frontend_model>Mageplaza\InstagramFeed\Block\Adminhtml\System\Config\Button</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="display" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display</label>
                <field id="total_number" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Total number of photos</label>
                    <comment>The maximum number is 20.</comment>
                </field>
                <field id="sort_by" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sort by</label>
                    <source_model>Mageplaza\InstagramFeed\Model\Config\Source\SortBy</source_model>
                </field>
                <field id="layout" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Layout</label>
                    <source_model>Mageplaza\InstagramFeed\Model\Config\Source\Layout</source_model>
                </field>
                <field id="number_row" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of row</label>
                    <depends>
                        <field id="layout">multiple</field>
                    </depends>
                </field>
                <field id="number_photo" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of photos each row</label>
                    <depends>
                        <field id="layout" separator=",">single,multiple</field>
                    </depends>
                </field>
                <field id="image_resolution" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image resolutions</label>
                    <source_model>Mageplaza\InstagramFeed\Model\Config\Source\Image</source_model>
                </field>
                <field id="show_like_comment" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show number of Like/Comment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to show number of Like/Comment when hover image.</comment>
                </field>
                <field id="Show_popup" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show pop-up</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes to show pop-up when click on image.</comment>
                </field>
            </group>
        </section>
    </system>
</config>